@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LibreFranklin-R";
    src: url("../fonts/LibreFranklin-Regular.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-M";
    src: url("../fonts/LibreFranklin-Medium.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-SB";
    src: url("../fonts/LibreFranklin-SemiBold.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-B";
    src: url("../fonts/LibreFranklin-Bold.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-EB";
    src: url("../fonts/LibreFranklin-ExtraBold.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-L";
    src: url("../fonts/LibreFranklin-Light.otf") format("woff");
}

@font-face {
    font-family: "LibreFranklin-T";
    src: url("../fonts/LibreFranklin-Thin.otf") format("woff");
}

.c-shadow {
    box-shadow: rgb(255, 255, 255) 4px 4px 0px -3px, #87d6f6 4px 4px
}

.tab_shadow {
box-shadow: rgba(16, 24, 40, 0.1) 0px 1px 3px, rgba(16, 24, 40, 0.06) 0px 1px 2px;
}

::-webkit-scrollbar {
    height: 4px;
    -webkit-transition: .45s;
    transition: .45s;
    width: 16px
}

::-webkit-scrollbar-thumb {
    background: #e5e3e5;
    background-clip: padding-box;
    border: 4px solid #0000;
    border-radius: 8px;
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #0000;
}

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/


